[Unit]
Description=uWSGI Emperor Service
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/uwsgi --uid www-data --gid www-data --emperor /etc/uwsgi.d/
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target
